{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="col-12 text-center">
            <h1>Inscription</h1>
        </div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
                <br><button class="btn btn-success" type="submit">Inscription</button>
        {{ form_end(form) }}
    </div>
{% endblock %}